.widthFull {
    width: 100%;
}

.width90 {
    width: 90%;
}

.width95 {
    width: 95%;
}

.tableContainer {
    margin: 20px;
    background-color: white;
    border-radius: 10px;
}

table tr {
    height: 50px;
}

table th {
    text-align: left;
    padding-left: 20px;
}

table td {
    border-bottom: 1px solid rgb(214, 214, 214);
    border-collapse: collapse;
    padding-left: 20px;
}

.progressBar {
    max-width: 50px;
}