.widthFull {
    width: 100%;
}

.width90 {
    width: 90%;
}

.width95 {
    width: 95%;
}

.tableContainer {
    margin: 20px;
    background-color: white;
    border-radius: 10px;
}

table tr {
    height: 50px;
}

table th {
    text-align: left;
    padding-left: 20px;
    background-color: var(--background-dark-header);
}

table td {
    border-bottom: 1px solid rgb(59, 59, 59);
    border-collapse: collapse;
    padding-left: 20px;
}

.progressBar {
    max-width: 50px;
}

[data-theme="dark"] {
    .tableContainer {
        margin: 20px;
        background-color: inherit;
        border-radius: 10px;
    }
}