.widthFull {
    width: 100%;
}

.tableContainer {
    width: 95%;
    margin: 0 auto;
    overflow-x: auto;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    background-color: #fff;
}

.table {
    width: 100%;
    border-collapse: collapse;
    font-family: 'Arial', sans-serif;
}

thead {
    background-color: #f5f5f5;
}

th,
td {
    padding: 12px 15px;
    text-align: left;
}

th {
    font-size: 14px;
    color: #333;
    text-transform: uppercase;
}

tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

.tableRow {
    transition: background-color 0.3s ease;
}

.tableRow:hover {
    background-color: #f1f1f1;
}

.bold {
    font-weight: bold;
}

.projectPath {
    font-size: 12px;
    color: #888;
}

.iconButton {
    color: #1976d2;
    /* Use your theme primary color */
}

.iconButton:hover {
    color: #004ba0;
    /* Darker shade for hover effect */
}

.progressBar {
    max-width: 50px;
}

.dropdown {
    display: flex;
    position: relative;
}

.dropdown select {
    all: unset;
    display: flex;
    cursor: pointer;
    box-shadow: 1px 1px 5px rgb(216, 216, 216);
    border-radius: 2px;
    padding: 5px 30px 5px 5px;
}

.dropdownIcon {
    right: 25px;
    top: 5px;
    position: relative;
}

.bold {
    font-weight: bolder;
}

select option {
    padding: 20px;
}

.newProjectButtonContainer {
    position: fixed;
    bottom: 20px;
    right: 20px;
}

.newProjectButtonContainer button {
    border-radius: 1px;
    border: 1px solid rgb(216, 216, 216);
    background-color: rgb(87, 160, 255);
    color: white;
    font-weight: bold;
}


[data-theme="dark"] {
    .tableContainer {
        width: 95%;
        margin: 0 auto;
        overflow-x: auto;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        border-radius: 8px;
        background-color: var(--background-dark);
    }

    thead {
        background-color: #333;
    }
    
    th,
    td {
        padding: 12px 15px;
        text-align: left;
    }
    
    th {
        font-size: 14px;
        color: var(--background-light);
        text-transform: uppercase;
    }
    
    tbody tr:nth-child(even) {
        background-color: var(--background-dark);
    }

    .tableRow:hover {
        background-color: #535353;
    }

    .dropdown select {
        all: unset;
        display: flex;
        cursor: pointer;
        border: 1px solid rgb(216, 216, 216);
        border-radius: 2px;
        padding: 5px 30px 5px 5px;
    }

    .dropdown select:hover {
        background-color: var(--background-dark);
    }
    
    .dropdown option {
        background-color: var(--background-dark);
    }

    .dropdown option:hover {
        background-color: var(--background-dark);
    }
}