.flex {
    display: flex;
}

.settingsContainer {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    font-family: Arial, sans-serif;
}

.settingsTitle {
    font-size: 28px;
    color: #e7e7e7;
    margin-bottom: 20px;
    border-bottom: 2px solid #eee;
    padding-bottom: 10px;
}

.settingsSection {
    margin-bottom: 30px;
    background-color: var(--background-dark-header);
    border-radius: 8px;
}

.sectionTitle {
    font-size: 20px;
    color: #eee;
    margin-bottom: 15px;
    padding: 10px;
}

.projectPathsContainer {
    background-color: var(--background-dark-header);
    border-radius: 8px;
    padding: 15px;
}

.addPathRow {
    margin-bottom: 15px;
}

.addButton {
    display: flex;
    align-items: center;
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 8px 15px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.addButton:hover {
    background-color: #45a049;
}

.pathList {
    list-style-type: none;
    padding: 0;
}

.pathItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--background-dark-header);
    border: 1px solid var(--background-dark);
    border-radius: 4px;
    padding: 10px;
    margin-bottom: 10px;
}

.pathText {
    flex-grow: 1;
    margin-right: 10px;
}

.removeButton {
    background-color: transparent;
    border: none;
    color: #f44336;
    cursor: pointer;
    transition: color 0.3s;
}

.removeButton:hover {
    color: #d32f2f;
}

.noPathsMessage {
    color: #777;
    font-style: italic;
}