.container {
    min-width: 200px;
    max-width: 200px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    background-color: white;
}

.container h3 {
    margin-left: 20px;
}

.nav {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
}

.nav div {
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 25px;
    height: 40px;
    display: flex;
    justify-content: space-between;
}

.nav div span {
    display: flex;
    align-items: center;
}

.navButton:hover {
    background-color: rgb(241, 251, 255);
    cursor: pointer;
}

.countBox {
    background-color: rgb(214, 222, 230);
    padding: 1px;
    border-radius: 5px;
    font-size: smaller;
    width: 25px;
    align-self: center;
    display: flex;
    justify-content: center;
}

.mostRecents {
    margin-top: 20px;
    margin-left: 20px;
}

.mostRecents div {
    margin-top: 20px;
}

.noButton {
    all: unset;
    display: flex;
    cursor: pointer;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}