:root {
  --background-dark-header: #363D4B;
  --background-dark: #1D232A;
  --background-dark-hover: #343949;
  --background-light: #fff;
  --text-main: #ebebeb;
}

.logo.vite:hover {
  filter: drop-shadow(0 0 2em #747bff);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafb);
}

.mainContainer {
  display: flex;
  height: 98%;
  overflow: hidden;
  background-color: var(--background-dark);
}

.contentContainer {
  margin: 0;
  width: 100%;
  overflow: auto;
}

[data-theme="dark"] {
  color-scheme: dark;

  .contentContainer {
      margin: 0;
      width: 100%;
      overflow: auto;
  }
}