:root {
  --background-dark: #242424;
  --background-light: #fff;
}

.logo.vite:hover {
  filter: drop-shadow(0 0 2em #747bff);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafb);
}

.mainContainer {
  display: flex;
  height: 98%;
  overflow: hidden;
}

.contentContainer {
  margin: 0;
  width: 100%;
  overflow: auto;
}

[data-theme="dark"] {
  color-scheme: dark;

  .contentContainer {
      margin: 0;
      width: 100%;
      overflow: auto;
  }
}